<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.accounting.dao.DVApproveDao">

	<!-- 지출결의 리스트 목록 조회 -->
	<select id="listDVApprove" resultType="kr.happyjob.study.accounting.model.EmpDvModel">
		
	SELECT ll.exp_no
	      ,DATE_FORMAT(ll.exp_date, '%Y-%m-%d') as exp_date 
	      ,DATE_FORMAT(ll.exp_sdate, '%Y-%m-%d') as exp_sdate
	      ,exac.acc_nm
          ,ll.loginID
          ,ui.name
	      ,ll.dac_nm
	      ,(select dept_name from tb_dept where ll.dept_cd = tb_dept.dept_cd )as dept_name
	       ,ll.exp_cost
	       ,CASE WHEN ll.exp_stat = '1' THEN '승인대기중' 
            	 WHEN ll.exp_stat = '2' THEN '승인' 
            		ELSE '반려' END as exp_stat
			FROM tb_expend_account exac
				    RIGHT JOIN (
				    SELECT  expe.exp_no
				          , expe.exp_date
				          , expe.exp_sdate
				          , exdt.acc_no
				          , exdt.dac_nm
                  		  , expe.loginID
				          , expe.dept_cd
				          , expe.exp_cost
				          , expe.exp_stat
				          , expe.dac_no
				    FROM tb_expend expe
				      INNER JOIN tb_expend_dtlaccount exdt ON expe.acc_no = exdt.acc_no and expe.dac_no = exdt.dac_no
			         ) ll ON ll.acc_no = exac.acc_no
	          left outer join tb_userinfo ui on ui.loginID = ll.loginID
	            
	 <where>
		       <if test="(from_date != null) and (!from_date.equals(''))">
		            and exp_date <![CDATA[>=]]> STR_TO_DATE(#{from_date}, '%Y-%m-%d')  
		       </if>
		       <if test="(to_date != null) and (!to_date.equals(''))">
		            and exp_date <![CDATA[<=]]> STR_TO_DATE(#{to_date}, '%Y-%m-%d')  
		       </if>	
		        <if test="(accall != null) and (!accall.equals(''))">
		            and ll.acc_no = #{accall}
		       </if>	
		       <if test="(accdall != null) and (!accdall.equals(''))">
		            and ll.dac_no = #{accdall}
		       </if>	
		       <if test="(apptype != null) and (!apptype.equals(''))">
		            and ll.exp_stat = #{apptype} 
		       </if>	 
		       	    
	</where>          
  
	ORDER BY exp_no desc
	LIMIT #{pageIndex}, #{pageSize}
		
	</select>
	
	<!-- 지출결의 리스트 목록 총 갯수 조회 -->
	<select id="countListDVApprove" resultType="int">
		
	SELECT COUNT(1) AS tot_cnt 
	FROM (
	      select ll.exp_no
	            ,ll.exp_date
	            ,ll.exp_sdate
	            ,ll.loginID
	            ,exac.acc_nm
	            ,ll.dac_nm
	            ,ll.acc_no
	            ,ll.dac_no
	            ,ll.exp_stat as ext_tt
	            ,(select dept_name from tb_dept where ll.dept_cd = tb_dept.dept_cd )as dept_name
	            ,ll.exp_cost
	            ,CASE WHEN ll.exp_stat = '1' THEN '승인대기중' 
	            	WHEN ll.exp_stat = '2' THEN '승인' 
	            		ELSE '반려' END as exp_stat
	      from tb_expend_account exac
	          right join (
	          select  expe.exp_no
	                , expe.exp_date
	                , expe.exp_sdate
	                , exdt.acc_no
	                , exdt.dac_nm
	                , expe.dept_cd
	                , expe.loginID
	                , expe.exp_cost
	                , expe.exp_stat
	                , expe.dac_no
	          from tb_expend expe
	            inner join tb_expend_dtlaccount exdt on expe.acc_no = exdt.acc_no and expe.dac_no = exdt.dac_no
	                  ) ll on ll.acc_no = exac.acc_no
	        	left outer join tb_userinfo ui on ui.loginID = ll.loginID
	 ) total
		 <where>
		       <if test="(from_date != null) and (!from_date.equals(''))">
		            and exp_date <![CDATA[>=]]> STR_TO_DATE(#{from_date}, '%Y-%m-%d')  
		       </if>
		       <if test="(to_date != null) and (!to_date.equals(''))">
		            and exp_date <![CDATA[<=]]> STR_TO_DATE(#{to_date}, '%Y-%m-%d')  
		       </if>	
		       <if test="(accall != null) and (!accall.equals(''))">
		            and acc_no = #{accall}
		       </if>	
		       <if test="(accdall != null) and (!accdall.equals(''))">
		            and dac_no = #{accdall}
		       </if>	
		       <if test="(apptype != null) and (!apptype.equals(''))">
		            and total.ext_tt = #{apptype} 
		       </if>	 
		       	    
		</where>      
 
	</select>
	
	<select id="empDVApproveModal" resultType="kr.happyjob.study.accounting.model.EmpDvModel">
		SELECT  ep.exp_no 
		       ,ep.loginID
           	   ,ui.name
               ,dp.dept_name
		       ,ep.acc_no
		       ,ep.dac_no
		       ,ep.exp_date
		       ,ep.exp_sdate
		       ,ep.dept_cd
		       ,ep.exp_snm
		       ,exp_cost
		       ,exp_bo 
		       ,exp_stat
		       ,exp_rere
		       ,exp_pdate 
		       ,at.att_nli  
		       ,at.att_mul
		       ,at.att_ori
		       ,at.att_ori
               ,at.att_no
               ,ep.exp_cont
		FROM tb_expend ep 
				LEFT OUTER JOIN tb_attachment at ON at.ref_seq_no = ep.exp_no
        		left outer join tb_userinfo ui on ui.loginID = ep.loginID
        		inner join tb_dept dp on ui.dept_cd = dp.dept_cd
		WHERE ep.exp_no = #{exp_no} 
	
	</select>
	
	<update id="updateDVApprove">
		update tb_expend
		   set exp_stat = #{exp_stat}
		      ,exp_pdate = #{exp_pdate}
		      ,exp_rere = #{exp_rere}
		      ,exp_bo = #{exp_bo}
	     where exp_no = #{expend_num}
	</update>
</mapper>
