<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.sales.dao.MmRevenueDao">

	<!-- 일별 매출 목록 조회 -->
	<select id="listMmRevenueModel" resultType="kr.happyjob.study.sales.model.MmRevenueModel">
	/*kr.happy.study.sales.dao.MmRevenueDao.MmRevenueModel*/
	select DATE_FORMAT(dor.do_date, '%Y-%m-%d') as do_date 	
	     , cop.cop_no								
	     , cop.cop_nm									
	     , cop.loginID								
	     , bt.bi_nm										
	     , sit.si_nm									
	     , sit.si_price										
	     , dor.do_nmt										
	     , sit.si_price * dor.do_nmt as total				
	  from tb_order o
	       inner join tb_dtlor dor on o.ord_no = dor.ord_no
	       inner join tb_company cop on o.cop_no = cop.cop_no
	       inner join tb_sitem sit on sit.si_cd = dor.si_cd
	       inner join tb_bitem bt on bt.bi_cd = sit.bi_cd
  order by o.ord_no
         , bt.bi_nm DESC	   
     limit #{pageIndex}, #{pageSize}
    </select> 
    
	<!-- 전체 그룹갯수 카운트 -->
	<select id="totMmRevenueModel" resultType="int">
	/*kr.happy.study.sales.dao.MmRevenueDao.MmRevenueModel*/
	  select count(*)
	    from tb_dtlor dor
	         inner join tb_order o on o.ord_no = dor.ord_no
	</select>

</mapper>	